body {
    font-family: sans-serif;
    padding: 20px;
    line-height: 2;
}

.item-lista {
    cursor: pointer;
    list-style: none;
    background: #f0f0f0;
    margin: 5px;
    padding: 5px;
}
#foto-perfil {
    width: 200px;  
    height: auto;  
    display: block; 
    margin: 10px 0;
}